.index-body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

.container {
  max-width: 1244px;
  padding: 0;
}

.category-box {
  padding: 15px 30px;
}

.category-box div {
  width: 50px;
}

.category-box a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
  font-weight: bold;
}

.category-box a:hover {
  opacity: 1;
}

.index-quiz {
  height: 50px;
  background-color: rgb(0, 151, 243);
  line-height: 50px;
  text-align: center;
  opacity: 0.9;
}

.index-quiz a {
  text-decoration: none;
}

.index-quiz a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 4px;
}

.index-quiz p {
  color: white;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.index-quiz p span {
  font-weight: 900;
}

.container-title {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.container-title-icon {
  width: 35px;
  margin-right: 10px;
}

.container-title h4 span {
  font-size: 18px;
  color: rgb(255, 180, 59);
}

.container-title a {
  display: flex;
  align-items: end;
  text-decoration: none;
  opacity: 1;
}

.container-title a:hover {
  opacity: 0.7;
}

.container-title p {
  display: flex;
  align-items: end;
  font-size: 15px;
  font-weight: bold;
  color:rgb(0 122 255);
  margin: 0;
}

.container-title-svg {
  padding-bottom: 3px;
}

.carousel-inner {
  width: 84%;
  height: 520px;
  margin: auto;
}

.carousel-control {
  background-color: white;
  width: 8%;
}

.carousel-control div {
  border: 2px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 30px;
  color: black;
  line-height: 1.5!important;
}

.best-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.best-title div {
  width: 40px;
  padding: 10px 0;
}

.best-title h5 {
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 186, 0);
}

.best-title p {
  font-size: 18px;
}

.carousel-inner-best {
  width: 70%;
  /* width: 84%; */
  height: 490px;
  margin: auto;
  overflow: hidden;
}

.carousel-control-best {
  background-color: white;
  width: 15%;
  /* width: 8%; */
}

.carousel-control-best div {
  border: 2px solid rgb(255, 186, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#carouselExampleIndicators-best .fa-chevron-left,
#carouselExampleIndicators-best .fa-chevron-right {
  color: rgb(255, 186, 0);
}

/* 캐러셀 데이터 추가 */

.carousel-innerbox {
  width: 24%;
  margin: auto;
  border: 1px solid rgb(240 240 240);
  border-radius: 5px;
  padding-bottom: 5px;
}

.index-product-a {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.in-img {
  width: 100%;
  overflow: hidden;
}

.in-img img {
  transition: transform 0.3s ease-in-out;
}

.in-img img:hover {
  transform: scale(1.05);
}

.product-contentbox {
  padding: 5px;
}

.product-title {
  padding: 15px 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-price {
  font-size: 14px;
  color:rgb(200 200 200);
  font-weight: 400;
  height: 15px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.product-star-comment {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(240 240 240);
}

.product-star {
  display: flex;
  align-items: center;
  height: 13px;
  font-size: 13px;
}

.product-star div {
  line-height:15px;
  opacity: 0.8;
  padding: 0 5px;
  border-right: 1px solid rgb(220 220 220);
}

.product-comment {
  line-height: 15px;
  color: rgb(150 150 150);
  font-size: 12px;
}

.product-content {
  padding-top: 10px;
  font-size: 14px;
  max-width: 220px;
  color: rgb(150 150 150);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



/* comment */

.comment-img {
  width: 269px;
  overflow: hidden;
}

.comment-img img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.comment-img img:hover {
  transform: scale(1.05);
}

.carousel-commentbox {
  width: 270px;
  border: 1px solid rgb(240 240 240);
  border-radius: 5px;
  padding-bottom: 5px;
}

.carousel-comment-a {
  color: black;
  text-decoration: none;
}

.star-box {
  position: relative;
  width: 140px;
}

.star-star {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.comment-contentbox {
  max-width: 258px;
  color: rgb(112 112 112);
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
}

.product-comment-user {
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgb(112, 112, 112);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* 배너 */

.banner-inner {
  width: 1900px;
  height: 380px;
}

.banner-inner img {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.banner-remote {
  width: 50px;
  height: 50px;
  background-color: rgb(220 220 220);
  border-radius: 5px;
  padding-top: 8px;
  opacity: 0.8;
}

.banner-remote:hover {
  color: rgb(110 110 110);
  opacity: 1;
}