{% extends 'base.html' %}
{% load static %}
{% block title %}비밀번호 변경{% endblock title %}

{% block content  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">

<form class="mx-auto"action="{% url 'accounts:login' %}" method="POST" style="width: 20rem; margin-top: 12rem;">
  {% csrf_token %}

  <div class='sign-title'>
    새 비밀번호를 입력하세요
  </div>

  {% for field in form %}
    <div class="input-group mb-3">
     {{ field }}
    </div>
  {% endfor %}
  <div class="d-grid mt-4">
    <input style='padding:12px;' type="submit" class="btn btn-light" value='비밀번호변경'>
  </div>
</form>
{% endblock content %}