{% extends 'base.html' %}
{% load static %}
{% block title %}로그인{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">

<form class="mx-auto"action="{% url 'accounts:login' %}" method="POST" style="width: 20rem; margin-top: 11rem;">
  {% csrf_token %}

  <div class='sign-title'>
    반가워요!
  </div>

  {% for field in form %}
    <div class="input-group mb-3">
     {{ field }}
    </div>
  {% endfor %}
  <div class="d-grid">
    <input style='padding:12px;' type="submit" class="btn btn-light" value='로그인'>
  </div>
</form>

<div class='login-signup'>
  <a href="{% url 'accounts:signup' %}">회원가입</a>
</div>

{% endblock content %}