{% extends 'base.html' %}

{% block content %}
<div>
  <h1>로그인</h1>
  <form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    {% for field in form  %}
    <div calss="input-group">
        <div class="input-gourp-text" id="{{ field.auto_id }}">{{ field.label }}</div>
        {{ field }}
    </div>
    <br>
    {% endfor %}
    <div class="container-fluid d-flex justify-content-center ms-5 mt-1">
        <input type="submit" class="btn btn-light"  role="button">
    </div>
</div>
{% endblock content %}