{% extends 'base.html' %}
{% load static %}
{% block title %}내 정보{% endblock title %}

{% block content %}

{% include 'mypage_top.html' %}

<div style="font-family: 'SpoqaHanSansNeo-Regular';">
  {% if q == 'like' %}
    {% include 'accounts/like.html' %}
  {% elif q == 'purchase' %}
    {% include 'accounts/purchase.html' %}
  {% elif q == 'review' %}
    {% include 'accounts/review.html' %}
  {% elif q == 'profile' %}
    {% include 'accounts/profile.html' %}
  {% endif %}
</div>

{% endblock content %}