{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% include 'mypage_top.html' %}
<div class="container mt-4">
  <div class = "profile_box">
    <p class="user_info">회원정보</p>
    <div>
      <div class="info_item">
        <span class="label">아이디</span>
        <strong class="content">{{ person.username }}</strong>
      </div>
      <div class="info_item">
        <span class="label">회원명</span>
        <strong class="content">{{ person.last_name }}</strong>
      </div>
      <div class="info_item">
        <span class="label">비밀번호</span>
        <strong class="content"><a href="{% url 'accounts:change_password' %}">설정하기 &gt; </a></strong>
      </div>
      <div class="info_item">
        <span class="label">이메일</span>
        <strong class="content">{{ person.email }}</strong>
      </div>
      <div class="info_item">
        <span class="label">성별</span>
        <strong class="content">{{ person.gender }}</strong>
      </div>
      <div class="info_item">
        <span class="label">생년월일</span>
        <strong class="content">{{ person.birthday }}</strong>
      </div>
    </div>
    <a class="profile_update" href="{% url 'accounts:update' %}">수정</a>
  </div>

</div>
</div><!-- mypage_top에서 열린 .body-->
{% endblock content %}