{% extends 'base.html' %}
{% block content %}
<div>
  <h1>
    {{ person.username }}님의 프로필 페이지
  </h1>

  <h3>{{person.username}}의 게시글</h3>
  {% for products in person.products_set.all %}
    <div>{{ products.title }}</div>
  {% endfor %}

  <h3>{{person.username}}의 댓글</h3>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <div>
    <div>
      팔로잉 : {{ person.followings.all|length }} / 팔로워 : {{person.followers.all|length}}
    </div>
    {% if request.user != person %}
    <div>
      <form action="{% url 'accounts:follow' person.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input type="submit" value="언팔로우">
        {% else %}
          <input type="submit" value="팔로우">
        {% endif %}
      </form>
    </div>
  {% endif %}
  </div>
</div>
<a href="{% url 'products:index' %}">[back]</a>
{% endblock content %}