{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="icon" href="{% static 'image/wine-favicon.svg' %}">
  <title>{% block title %}DRINK IT{% endblock title %}</title>
  <style>
    @font-face {
      font-family: 'SpoqaHanSansNeo-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    {% block style %}
    {% endblock style %}
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
  
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock navbar %}

  <div style='margin-top: 56px;'>
    {% block content %}
    {% endblock content %}
  </div>

  <div class='gpt-collapse-btn'>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-gpt" role="button" aria-expanded="false" aria-controls="collapse-gpt">
      <div style='width: 50px;'>
        <img class='w-100' src="{% static 'image/gpt.png' %}" alt="gpt">
      </div>
    </a>
  </div>

  <div class='gpt collapse' id='collapse-gpt'>
    <div class='gpt-response'></div>
    <form id='gpt-form'>
      {% csrf_token %}
      <input class='gpt-input' type="text" name="gpt-q">
      <button class='gpt-input-btn' type='submit'>
        <img class='w-100' src="{% static 'image/send.svg' %}" alt="send">
      </button>
    </form>
  </div>
  
  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
