{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<div class='footer'>
  <div class='footer-inner'>
    <div class='d-flex justify-content-between'>
      <div>
        <h5 class='text-black'>
          DRINK IT
        </h5>

        <div>
          평일 09:10 ~ 17:51, 주말 휴무
        </div>
      </div>

      <div>
        <a class='footer-img' href="https://github.com/Code-Sloth/drunken_developer">
          <div>
            <img class='w-100' src="{% static 'image/github.svg' %}" alt="github">
          </div>
        </a>
      </div>
    </div>

    <div class='mt-5 fs-6 mb-2'>
      드개자(Drunken Developer)
    </div>

    <div>
      조장: 이민욱 <a class='footer-link' href="https://github.com/Code-Sloth">[GitHub]</a>
    </div>

    <div>조원: 서유영 <a class='footer-link' href="https://github.com/syuyoung">[GitHub]</a></div>

    <div class='footer-ms'>홍순혁 <a class='footer-link' href="https://github.com/Sunhyeok11">[GitHub]</a></div>

  </div>
</div>