{% load static %}

<div class='navbar navbar-expand-lg d-flex flex-row justify-content-between align-items-center border-bottom border-2'>
  <div class='d-flex flex-row'>
    <a href='' class='ms-5 me-5'><img src="{% static 'base/logo.jpg' %}" width='40' height='20'></a>
    <a href='' class='me-5 fw-bold text-decoration-none'>구독</a>
    <a href='' class='me-5 fw-bold text-decoration-none'>스토어</a>
    <form class=''>
      <input class='form-control' type='search' value='무엇을 찾고계신가요?'>
    </form>
  </div>

  <div class='me-5'>
    <a href='' class='me-5 fw-bold text-decoration-none'>로그인/회원가입></a>
    <a href=''><img src="{% static 'base/cart.jpg' %}" width='20' height='20'></a>
  </div>
</div>
