{% load static %}

    <div class="collapse navbar-collapse d-flex flex-row justify-content-between border-bottom border-2" style='padding: 0px 200px;'>
        <ul class="navbar-nav d-flex flex-row ">
            <li class="nav-item my-2">
                <a class="nav-link active d-flex flex-row align-items-center" aria-current="page" href="#">
                    <img src="{% static 'base/logo.jpg' %}" class="me-3" width="65" height="30">
                </a>
            </li>
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="nav-link active d-flex flex-row align-items-center fw-bold me-3" aria-current="page" href="#">
                    구독
                </a>
            </li>
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="nav-link active d-flex flex-row align-items-center fw-bold me-3" aria-current="page" href="#">
                    스토어
                </a>
            </li>
            <li class="nav-item d-flex flex-row align-items-center">
                <form class=''>
                  <input class='form-control' type='search' value='무엇을 찾고계신가요?'>
                </form>
            </li>
        </ul>  
        <ul class='navbar-nav d-flex flex-row'>
            <li class='nav-item d-flex flex-row align-items-center'>

            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item nav-link active d-flex flex-row align-items-center fw-bold me-3" href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
                <li><a class="dropdown-item nav-link active d-flex flex-row align-items-center fw-bold me-3" href="{% url 'accounts:login' %}">로그인</a></li>
                <li class="nav-link active d-flex flex-row align-items-center fw-bold me-3">/</li>
                <li><a class="dropdown-item nav-link active d-flex flex-row align-items-center fw-bold me-3" href="{% url 'accounts:signup' %}">회원가입</a></li>
            {% endif %}

            </li>
            <li class="nav-item">
              <a class="nav-link active d-flex flex-row align-items-center" aria-current="page" href="#">
                  <img src="{% static 'base/cart.jpg' %}" width="25" height="25">
              </a>
            </li>
        </ul>
    </div>
  </div>
