{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}
{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">

<div class='detail-body'>

  <div class="container">
    {% comment %} 상품 메인 {% endcomment %}
    <div class='detail-mainbox'>
      {% if product.image %}
        <div class='product-img'>
          <img class='w-100' src="{{ product.image.url }}" alt="{{ product.title }}">
        </div>
      {% endif %}
  
      <div class='product-rightbox'>
        <div class='product-title'>
          {{ product.title }}
        </div>
  
        <div class='product-content'>
          {{ product.content }}
        </div>

        <div class='detail-star'>
          <div class='star-box'>
            <div class='star-gray'>
              <img src="{% static 'image/product_graystar.png' %}" alt="graystar">
            </div>
            <div class='star-star' style='width: {{ product.star_multiple }}%;'>
              <img src="{% static 'image/product_star.png' %}" alt="star">
            </div>
          </div>

          <div class='star-score'>
            {{ product.star }}
          </div>

          <div class='star-comment'>
            [{{ product.comments.count }} 리뷰]
          </div>
        </div>

        <div class='detail-content'>
          <div>종류: {{ product.category|string_kr }}</div>
          <div>도수: {{ product.alcohol_percentage }}%</div>
          <div>용량: {{ product.volume }}ml</div>
          <div class='content-delivery'>배송기간: {{ product.delivery_date }}일 이내 배송</div>
        </div>

        <div class='detail-sale'>
          판매가격:
        </div>
        
        {% if product.discount_rate %}
          <div class='detail-price'>
            {{ product.price|intcomma }}원
          </div>
        {% endif %}

        <div class='detail-discounted-price'>
          {{ product.discounted_price|intcomma }}원
        </div>

      </div>

    </div>

    {% comment %} 리모컨 {% endcomment %}
    <div class='product-sidebar'>
      <div>
        <div>옵션</div>
        <select class='form-select' name="option" id="product-option">
          <option value="option1">어떤 옵션을 원하시나요?</option>
          <option value="option2">{{ product.title }}</option>
        </select>
      </div>

      <div>
        <div>수량</div>
        <div class='sidebar-numbox'>
          <div class='sidebar-minus'>
            <button class='minus'>
              <img class='w-100' src="{% static 'image/minus.png' %}" alt="minus">
            </button>
          </div>

          <div class='sidebar-number'>
            1
          </div>

          <div class='sidebar-plus'>
            <button class='plus'>
              <img class='w-100' src="{% static 'image/plus.png' %}" alt="plus">
            </button>
          </div>
        </div>
      </div>

      <div>
        <div>총 상품가격</div>
        <div class='sidebar-price'>
          {{ product.discounted_price|intcomma }}원
        </div>
      </div>

      <form class='sidebar-interest' action="{% if user.is_anonymous %}{% url 'accounts:login' %}{% else %}{% url 'products:likes' product.pk %}{% endif %}" method="POST">
        {% csrf_token %}
        <button class='option-btn' type='submit'>
          <div class='sidebar-interest-img'>
            <img class='w-100' src="{% static 'image/interest.png' %}" alt="">
          </div>
          {% if request.user in product.like_users.all %}
            <div>관심상품 취소</div>
          {% else %}
            <div>관심상품</div>
          {% endif %}
        </button>
      </form>

      <form action="{% if user.is_anonymous %}{% url 'accounts:login' %}{% else %}{% url 'products:kakaopay' product.pk %}{% endif %}" method="POST">
        {% csrf_token %}
        <input type="hidden" class='kakao-count' name='kakao-count' value='1'>
        <input type="hidden" class='original-price' value='{{ product.discounted_price }}'>
        <button name='kakao-price' value='{{ product.discounted_price }}' type='submit' class='sidebar-buy option-btn'>
          <img class="kakao-icon" src="{% static 'image/kakao.png' %}" alt="">
          카카오페이 결제
        </button>
      </form>
    </div>

    {% comment %} 댓글 sort {% endcomment %}
    <div class='comment-create'>
      <div class='comment-create-review'>
        <a href="{% url 'products:comment_create' product.pk %}">
          <div>
            <img class='w-100' src="{% static 'image/write.svg' %}" alt="write">
          </div>
          <span>리뷰 작성하기</span>
        </a>
      </div>

      <div class='comment-create-sort'>
        <a data-bs-toggle="collapse" href="#multiCollapseExample-comment" role="button" aria-expanded="false" aria-controls="multiCollapseExample-comment">
          <div class='d-flex'>
            <div class='comment-sort-title'>최신순</div>
            <div class='comment-sort-img'>
              <img class='w-100' src="{% static 'image/down.png' %}" alt="down">
            </div>
          </div>
        </a>

        <div class="comment-collapse collapse multi-collapse" id="multiCollapseExample-comment">

          <div>
            <button value='recent' type='submit'>최신순</button>
          </div>
          <div>
            <button value='high' type='submit'>평점높은순</button>
          </div>
          <div>
            <button value='low' type='submit'>평점낮은순</button>
          </div>

        </div>
      </div>
    </div>

    {% comment %} 댓글 상세 {% endcomment %}
    <div class='detail-comment'>
      {% for comment, comment_form in comment_comment_form %}
        <div class='detail-comment-allbox'>
          <div class='comment-header'>
            <div class='comment-header-title'>
              {{ comment.user.last_name }}
            </div>

            <div class='comment-header-right'>
              <div class='star-box comment-starbox'>
                <div class='star-gray'>
                  <img class='w-100' src="{% static 'image/product_graystar.png' %}" alt="graystar">
                </div>
                <div class='star-star comment-star-star' style='width: {{ comment.star_multiple }}%;'>
                  <img src="{% static 'image/product_star.png' %}" alt="star">
                </div>
              </div>

              <div class='comment-star-count'>
                {{ comment.star }}
              </div>

              <div class='comment-time'>
                {{ comment.created_time }}
              </div>

              {% if request.user == comment.user %}
                <button class='update-btn comment-delete ms-3' type='submit'>수정</button>

                <form action="{% url 'products:comment_delete' product.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <button class='comment-delete' class='btn btn-outline-secondary' type='submit'>삭제</button>
                </form>
              {% endif %}
            </div>
          </div>

          <div class='comment-contentbox d-block'>
            <div class='comment-content'>
              {{ comment.content|linebreaks }}
            </div>

            {% if comment.image %}
              <div class='comment-img'>
                <img class='h-100' src="{{ comment.image.url }}" alt="commentImage">
              </div>
            {% endif %}
          </div>

          <form class='comment_form mb-5 d-none' data-user-id="{{ product.pk }}" enctype="multipart/form-data">
            <input type="hidden" class="comment_pk" value="{{ comment.pk }}">

            {{ comment_form.content }}

            {% if comment.image %}
              <div class='comment_form_image'>
                <img class='w-100' src="{{ comment.image.url }}" alt="#">
              </div>
            {% endif %}

            {{ comment_form.image }}

            <div class='d-flex comment-form-star'>
              <button type="button" class='comment_star' id="star1" data-value="1">
                <img src="{% static 'image/star1.svg' %}" id="img1" alt="star" data-value="1">
              </button>
              <button type="button" class='comment_star' id="star2" data-value="2">
                <img src="{% static 'image/star1.svg' %}" id="img2" alt="star" data-value="2">
              </button>
              <button type="button" class='comment_star' id="star3" data-value="3">
                <img src="{% static 'image/star1.svg' %}" id="img3" alt="star" data-value="3">
              </button>
              <button type="button" class='comment_star' id="star4" data-value="4">
                <img src="{% static 'image/star1.svg' %}" id="img4" alt="star" data-value="4">
              </button>
              <button type="button" class='comment_star' id="star5" data-value="5">
                <img src="{% static 'image/star1.svg' %}" id="img5" alt="star" data-value="5">
              </button>

              <div class='comment-star-content'>
                최고
              </div>
            </div>

            <button id='star_rating' name='star_rating' value='{{ comment.star }}' class='comment-submit-btn' type='submit'>등록</button>
          </form>
        </div>
      {% endfor %}
    </div>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/detail.js' %}"></script>
{% endblock content %}

